<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Annie Min">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Annie Min 67-250 Web Development Project">
    <title>The Duquesne Incline Website</title>
</head>
<body onload="showCopyright()">
    <div>
        <img class="headerImg" src="../static/duqInc-upper.jpg" alt="duquesne incline upper view">
    </div>
    <header class="navColor">
        <nav>
            <a class="navTitle" href="../index.html" target="_self">Home</a>
            <a class="navTitle" href="trip.html" target="_self">Trips/Tours</a>
            <a class="navTitle" href="contact.html" target="_self">Contact Us</a>
            <a class="navTitle" href="about.html" target="_self">About the Incline</a>
            <a class="navTitle" href="citation.html" target="_self">Citation</a>
        </nav>
    </header>
    <div class="main">
        <h1>About The Duquesne Incline</h1>
        <p>
            The Duquesne Incline is one of those which follows very closely the tracks of an early coal 
            hoist. Old newspapers indicate the existence of such a conveyance as early as 1854. Residents 
            apparently referred to it as "Kirk Lewis' incline" and located it on the present site of The 
            Duquesne Incline's Upper Station. Grandview Avenue was then the High Street, and the area was 
            just beginning to be converted from farmland to homesites. This pleasantly-situated acreage was 
            an excellent area to absorb some of the expanding population of the city, but the problem of easy 
            access was still to be solved.
        </p>
    </div>
    <div class="aboutFlex">
        <img class="ttImg" src="../static/about-page.jpg" alt="side angle of incline">
        <p>
            Although plans for a freight and passenger incline are known to have existed much earlier, 
            financial backing was exceedingly hard to find--even the modest sum of $47,000--and actual 
            construction was delayed. Eventually, of course, difficulties were overcome and the Incline was 
            built. It was opened to the public May 20, 1877. The Duquesne Incline was the first Pittsburgh 
            incline designed and built by Samuel Diescher, for Kirk Bigham and Associates. Mr. Diescher, an 
            engineer, had become the country's foremost builder of inclines. He was also to design and build 
            most of those that followed. <br><br>
            At the time of its public opening, it was one of four inclined planes serving the summit of Coal Hill, 
            which later came to be known as Mount Washington. The Duquesne Incline was operated, from 1877 until 
            1962 by The Duquesne Inclined Plane Company. From 1964 until the present, the Incline has been operated 
            by the Society for the Preservation of The Duquesne Heights Incline; it has been owned by the Port 
            Authority of Allegheny County.
        </p>
    </div>
    <div>
        <p>
            The Society for the Preservation of the Duquesne Heights Incline. The Society for the Preservation of 
            the Duquesne Heights Incline was formed in 1964 by the Duquesne Heights/Mount Washington neighborhood 
            group that had rescued, repaired, and reopened the Incline in 1963. The purpose was to continue to 
            restore and rehabilitate the cars, equipment, and both stations, and to establish the entire operation 
            as a reliable commuter facility and a popular visitor attraction.  Memberships in the society are 
            available, call for details.
        </p>
    </div>
    <div class="factsAndLinks">
        <div id="facts">
            <h3>More Facts:</h3>
            <p>
                Opened to Public: May 20, 1877 <br>
                Cost to Build: $47,000 <br>
                Length of Track: 794 feet <br>
                Elevation: 400 feet <br>
                Grade: 30.5 degrees <br>
                Speed: 6 miles per hour <br>
                Passenger: Capacity 18 per car
            </p>
        </div>
        <div id="links">
            <h3>Useful Links:</h3>
            <ul>
                <li><a href="https://www.facebook.com/TheDuquesneIncline" target="_blank">Facebook</a></li>
                <li><a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh" target="_blank">Yelp</a></li>
                <li><a href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677" target="_blank">Viator</a></li>
                <li><a href="https://www.visitpittsburgh.com/directory/duquesne-incline/" target="_blank">Visit Pittsburgh</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Duquesne_Incline" target="_blank">Wikipedia</a></li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <p id="footerInfo"></p>
    </footer>
</body>
</html>