<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Annie Min">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Annie Min 67-250 Web Development Project">
    <title>The Duquesne Incline Website</title>
</head>
<body onload="showCopyright()">
    <div>
        <img class="headerImg" src="../static/duqInc-upper.jpg" alt="duquesne incline upper view">
    </div>
    <header class="navColor">
        <nav>
            <a class="navTitle" href="../index.html" target="_self">Home</a>
            <a class="navTitle" href="trip.html" target="_self">Trips/Tours</a>
            <a class="navTitle" href="contact.html" target="_self">Contact Us</a>
            <a class="navTitle" href="about.html" target="_self">About the Incline</a>
            <a class="navTitle" href="citation.html" target="_self">Citation</a>
        </nav>
    </header>
    <div class="main">
        <h1>Citations</h1>

        <h3>Header Image:</h3>
        <p><a href="https://www.flickr.com/photos/jim_watkins/4915892843/in/photostream/" target="_blank">
            Jim Watkins Photography Gallery Flickr
        </a></p>

        <h3>Home Page Image:</h3>
        <p><a href="https://www.flickr.com/photos/via/5340863849/in/photolist-PwSGmG-29squXx-9R5nKq-awvGJ6-2mNSYjM-98XjKt-aizUa6-XvHS39-7LZKpZ-oWw52M-XxKrLh-4XzpZE-2mERjE8-nQHUWJ-4nxsED-6a66iM-b2Qtbp-2iBbR7Q-6aHofp-6aMx8J-5HRr9o-ba98tR-mDtBCT-4Xv93g-5hvPiV" target="_blank">
            Via Tsuji Flickr
        </a></p>
        <h4>Gift Store Images:</h4>
        <p><a href="https://www.duquesneincline.org/" target="_blank">The Duquesne Incline Website</a></p>

        <h3>Trips/Tours Page Image:</h3>
        <p>
            <a href="https://www.flickr.com/photos/gschroeder/36458910100/in/photolist-PwSGmG-29squXx-9R5nKq-awvGJ6-2mNSYjM-98XjKt-aizUa6-XvHS39-7LZKpZ-oWw52M-XxKrLh-4XzpZE-2mERjE8-nQHUWJ-4nxsED-6a66iM-b2Qtbp-2iBbR7Q-6aHofp-6aMx8J-5HRr9o-ba98tR-mDtBCT-4Xv93g-5hvPiV/" target="_blank">Hydrogen Flickr</a> <br>
            <a href="https://www.mollystrolleyspgh.com/" target="_blank">Molly's Trolly</a> <br>
            <a href="https://riversofsteel.com/" target="_blank">Rivers of Steel</a> <br>
            <a href="https://www.pghtours.com/" target="_blank">PGH Tours</a>
        </p>

        <h3>About the Incline Page:</h3>
        <p><a href="https://www.flickr.com/photos/missbanana119/6584340983/in/photolist-PwSGmG-29squXx-9R5nKq-awvGJ6-2mNSYjM-98XjKt-aizUa6-XvHS39-7LZKpZ-oWw52M-XxKrLh-4XzpZE-2mERjE8-nQHUWJ-4nxsED-6a66iM-b2Qtbp-2iBbR7Q-6aHofp-6aMx8J-5HRr9o-ba98tR-mDtBCT-4Xv93g-5hvPiV/" target="_blank">missbanana119 Flickr</a> <br> </p>

        <p>
            <br><a href="https://www.w3schools.com/">W3Schools</a>and previous labs used as reference for code.
        </p>
    </div>
    <footer class="footer">
        <p id="footerInfo"></p>
    </footer>
</body>
</html>