/* add font and overall style */
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #31352e;

  margin: 5px;
  padding: 5px;
}

/* fit header */
.headerImg {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

/* style nav links */
.navTitle {
  text-decoration: none;
  color: #ebebe8;
  margin-right: 15px;
  /* background-color: #535e4b; */
}
/* Style the navbar */
.navColor {
  background-color: #535e4b;
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* customize Home page layout */
.indexTextAndImg {
  background-color: #e9e6e2;
}
.store {
  background-color: #c1c2ad;
}
.indexTextAndImg, .locationAndYoutube, .hoursAndFares, .giftStore {
  display: flex;
  justify-content: space-evenly;
}
.giftStore {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}
#upperStationImg {
  display: block;
  margin: auto;
  width: 30%;
  height: auto;
}
#shotGlassImg, #woodCarImg, #metalPlatesImg {
  width: 300px;
}
#location {
  display: block;
  margin: auto;
  width: 450px;
  height: 350px;
}
.yt, .fares {
  display: block;
  margin: auto;
  width: fit-content;
}
.hours {
  display: block;
  width: fit-content;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}
/* customize fares table */
th {
  padding: 12px;
  background-color: #b5a4a3;
  color: #31352e;
  width: fit-content;
}
td:nth-child(even) {
  background-color: #ebebe8;
}
td:nth-child(odd) {
  background-color: #b5a4a3;
}

/* tour page group fares styling*/
.groupFares {
  background-color: #d1e2c4;
  width: fit-content;
  display: block;
  margin: auto;
}
/* list style */
#fieldTripList {
  margin-left: 30px;
}
/* put text and img side by side */
.fieldTrip {
  display: flex;
  flex-wrap: nowrap;
  background-color: #e9e6e2;
}
/* adjust img size */
.tripsImg {
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
}
/* adjust image layout */
.imgLinks {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#trollyImg, #steelImg, #pghImg {
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
}
/* create borders */
.molly, .steel, .pgh {
  border-color: #535e4b;
  border-style: solid;
  border-radius: 5px;
}
.imgLinks a:hover {
  border-color: #ddd;
}

/* contact page split */
.contactAndLogo {
  display: flex;
  flex-wrap: nowrap;
}
#logo {
  display: block;
  margin: auto;
  width: 30%;
}
/* contact page mailing form style */
.mailingListForm {
  padding: 10px;
  margin: auto;
  background-color: #b5a4a3;
  width: fit-content;
}
/* validation fail message format */
#failValidate {
  text-align: center;
}

/* about page split text and image */
.aboutFlex {
  display: flex;
  flex-wrap: nowrap;
  background-color: #d1e2c4;
}

/* split facts and links */
.factsAndLinks {
  display: flex;
  flex-wrap: nowrap;
}
/* create border for facts */
#facts, #links {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
  width: 30%;
  background-color: #c1c2ad;
}
/* footer color */
.footer {
  background-color: #535e4b;
}
#footerInfo {
  color: #ebebe8;
}